extends ../layout

block content
  .row
    .col.s6.offset-s3 
      if error.length
        p.alert=error
      h1 Create new password
      form(action='/auth/password/:token' method='POST')
        
        .input-field
          input#password.validate(placeholder='password' name='password' type='password' required)
          label(for='password') New password
          span(class='helper-text' data-error='Type password')
            
        input(type='hidden' name='userId' value=userId)
        input(type='hidden' name='token' value=token)
        input(type='hidden' name='_csrf' value=csrf)
          
        button.btn.btn-primary(type='submit') Reset
        
