nav
  .nav-wrapper
    a.brand-logo(href='#') Courses App
    ul#nav-mobile.right.hide-on-med-and-down
      li(class=isHome && 'active')
        a(href='/') Home
      li(class=isCourses && 'active')
        a(href='/courses') Courses
      li(class=isAdd && 'active')
        a(href='/add') Add
      li(class=isCart && 'active')
        a(href='/cart') Cart
